header{
  text-align: center;
  background-color:#8cf5de;
  padding: 20px;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fc;
  margin:0;
  padding: 20px;

}

.container {
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  gap: 20px;
}

.box {
  background-color: #ffffff;
  width:1370px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.box:hover {
  transform: translateX(-7px);
  box-shadow: 0 8px 17px rgba(99, 222, 183, 0.15);
}

h2 {
  text-align: center;
  color: #0073e6;
  border-bottom: 2px solid #f418cc;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
  color: #333;
  line-height: 1.5;
}
footer{
  color: #1ed039;
}